# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/

# User settings
xcuserdata/
*.xcuserstate

# Build files
build/
DerivedData/

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.swiftpm/
.build/

# Firebase config
GoogleService-Info.plist

# macOS
.DS_Store

# API Keys and Secrets
Config.swift
Secrets.swift
APIKeys.swift
GoogleService-Info.plist
